body {background-color:#F2F4F0:}
    /* a slightly warmer white*/
body {font-family: 'Open Sans', sans-serif; color:#403634}
    /* text color brown from the laptop photo, or an alternate would be the darkest brown from the same image 2D241E*/
h1 {color: #44A1DB; text-align: left;}
    /* the blue from the circle logo illo*/
h2 {color: #F34A4A; text-align: left;}
    /* the red from the screen illo*/
h4 {color: #F34A4A; text-align: left;}
    /* the red from the screen illo again*/

.toprow {display:flex; justify-content:flex-end;}
.cheese {display:flex; margin-right:40px; margin-left:40px; font-family:'open sans', serif; font-size: 12px}

.description {display:flex; justify-content:center; font-family: 'Merriweather', serif; font-size: 16px; padding: 50px}

.bigbox {display: block;}
.content {display:inline-block; vertical-align:top; width:600px;  margin: 10px 10px 10px 30px}
.sidebar {display:inline-block; vertical-align:top; width:300px; margin: 10px 10px 10px 30px}

a:link, a:visited, a:link:active, a:visited:active { 
    text-decoration: line-through;}